html {
    user-select: none;
    scroll-behavior: smooth;
}

#main-content {
    height: 100vh;
    transition: margin-left 0.3s ease;
    overflow-y: scroll;
}

#main-content::-webkit-scrollbar {
    display: none;
}

.notification-icon {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
